{% extends "shared/base.html" %}


{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<section class="lib-home">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        {% with msg=msg %}
        {% include "components/alerts.html" %}
        {% endwith %}
        {% if error %}
        <div class="text-danger font-weight-bold">
          <li>{{error}}</li>
        </div>
        {% endif %}
        <h1>
          My Library
        </h1>
        <p class="tagline">
          Welcome to "My Library", Your personalized digital haven for bookworms!
        </p>
        <div class="col">
          <a class="btn btn-primary" href="/register/">Sign Up</a>
          <a class="btn btn-primary" href="/login/">Sign In</a>
        </div>
      </div>
    </div>
</section>
{% endblock %}